.searchContainer {
    position: relative;
    display: flex;
    flex-direction: row;
}

.searchContainer div {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0.5rem;
    flex-flow: row wrap;
}

.searchContainer input, .searchContainer .inputSelect select, #searchAdvancedToggle {
    border: none;
    margin: 0.5rem 0rem;
    padding: 0.25rem 0.15rem;
    font-family: 'Alegreya Sans', sans-serif;
}

.searchContainer .inputSelect {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.searchContainer .inputSelect label {
    padding-right: 0.25rem;
}

.searchContainer .inputSelect select {
    flex: 1;
}

#search {
    margin: calc( var(--navHeight) + 2rem) auto 0 auto;
}

#search input {
    padding: 0.25rem 0.5rem;
}

/* #search input::placeholder {
    color: #ccc;
} */

#searchAdvanced {
    margin: 0 auto;
    display: flex;
    max-width: 900px;
}

#searchAdvanced div {
    height: 0%;
    margin-top: 0rem;
    margin-bottom: -5rem;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

#searchAdvanced.showAdvanced div { 
    height: 100%; 
    margin-top: 2rem;
    margin-bottom: 0rem;
    opacity: 1;
    pointer-events: auto;
}

#searchAdvancedToggle {
    display: block;
    position: relative;
    font-size: 0.85em;
    background: var(--SelectionBG);
    margin: 0.5rem 0rem 0.5rem 1rem;
    padding: 0.35rem 0.75rem 0.15rem 0.75rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#searchAdvancedToggle:hover {
    background: #fff;
}

#searchAdvanced .inputSelect {
    display: flex;
    justify-content: space-between;
    flex: 1 25%;
}

#searchAdvanced .inputSelect label {
    flex: 0.8;
}

#searchAdvanced .inputSelect select {
    flex: 1.2;
    cursor: pointer;
}

/* #searchAdvanced::after {
    content: ">";
    display: block;
    position: absolute;
    top: -2rem;
    left: 3rem;
    width: 100%;
} */


@media (max-width: 960px){
    .searchContainer div {
        flex-direction: column;
    }
}
