/* T A G S ------------------------------------------------------------------- */

.fungiTags {
    display: flex;
    flex-wrap:wrap;
    list-style-type: none !important;
    margin: 0 auto 2rem auto !important;
    justify-content: center;
}

.fungiTags li {
    padding: 0.25rem 0.75rem;
    margin: 0 0.5rem 1rem 0.5rem;
    background: var(--SelectionBG);
    font-size: 0.85em;
}

#tags-poisonousEdible.poisonous,
#tags-poisonousEdible.Poisonous {
    color: #fff;
    background: #cb6248;
}

#tags-poisonousEdible.edible,
#tags-poisonousEdible.Edible {
    color: #fff;
    background: #679450;
}



/* L I F E S T A G E S ------------------------------------------------------- */

/* To Add */



/* L O O K A L I K E S ------------------------------------------------------- */

#lookalikeGrid.characteristicsGrid {
    display: flex;
    margin: 0 -0.5rem;
    justify-content: center;
}

#lookalikeGrid.characteristicsGrid div {
    position: relative;
    background: #fff;
    border-radius: 0.25rem;
    margin: 1%;
    padding: 1rem;
    width: 48%;
}

#lookalikeGrid.characteristicsGrid div h3 {
    text-align: center;
}

#lookalikeGrid.characteristicsGrid div p { margin-bottom: 0; }

#lookalikeGrid.characteristicsGrid figcaption {
    position: relative;
    margin: 0.5rem auto -1.5rem auto;
}

@media (min-width: 1024px){
    #lookalikeGrid.characteristicsGrid div {
        margin: 0.65%;
        width: 32%;
    }
}

@media (max-width: 600px){
    #lookalikeGrid.characteristicsGrid div {
        margin: 0.5rem;
        width: 100%;
    }
}

#lookalikeGrid.characteristicsGrid .poisonous {
    color: #cb6248;
}

#lookalikeGrid.characteristicsGrid .edible { 
    color: #679450;
}
