.searchContainer {
    position: relative;
    display: flex;
    flex-direction: row;
}

.searchContainer div {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0.5rem;
    flex-flow: row wrap;
}

.searchContainer input, .searchContainer .inputSelect select, #searchAdvancedToggle {
    border: none;
    margin: 0.5rem 0rem;
    padding: 0.25rem 0.15rem;
    font-family: 'Alegreya Sans', sans-serif;
}

.searchContainer .inputSelect {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.searchContainer .inputSelect label {
    padding-right: 0.25rem;
}

.searchContainer .inputSelect select {
    flex: 1;
}

#search {
    margin: calc( var(--navHeight) + 2rem) auto 0 auto;
}

#search input {
    padding: 0.25rem 0.5rem;
}

#searchAdvanced {
    margin: 0 auto;
    display: flex;
    max-width: 900px;
}

#searchAdvanced div {
    height: 0%;
    margin-top: 0rem;
    margin-bottom: -5rem;
    overflow: hidden;
    opacity: 0;
    transition: var(--Transition);
    pointer-events: none;
}

#searchAdvanced.showAdvanced div { 
    height: 100%; 
    margin-top: 2rem;
    margin-bottom: 0rem;
    opacity: 1;
    pointer-events: auto;
}

#searchAdvancedToggle {
    display: block;
    position: relative;
    font-size: 0.85em;
    background: var(--SelectionBGSolid);
    margin: 0.5rem 0rem 0.5rem 1rem;
    padding: 0.35rem 0.75rem;
    cursor: pointer;
    transition: var(--TransitionFast);
}

#searchAdvancedToggle.showAdvanced {
    background: #fff;
}

#searchAdvancedToggle.showAdvanced::before {
    right: -1.25rem;
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}

#searchAdvancedToggle::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0rem;
    width: 0.65rem;
    height: calc(100% - 1rem);
    border: 0.5rem solid #fff;
    border-radius: 0;
    background:
        linear-gradient(45deg, #fff0 0%,#fff0 43%,var(--SelectionBGSolid) 45%,var(--SelectionBGSolid) 55%,#fff0 57%,#fff0 100%),
        linear-gradient(135deg, #fff 0%, #fff 43%,var(--SelectionBGSolid) 45%,var(--SelectionBGSolid) 55%, #fff 57%, #fff 100%);
    cursor: pointer;
    z-index: -1;
    transition: var(--Transition);
}


#searchAdvancedToggle:hover {
    background: #fff;
}

#searchAdvanced .inputSelect {
    display: flex;
    justify-content: space-between;
    flex: 1 25%;
}

#searchAdvanced .inputSelect label {
    flex: 0.8;
}

#searchAdvanced .inputSelect select {
    flex: 1.2;
    cursor: pointer;
}


@media (max-width: 960px){
    #searchAdvanced {
        width: 100%;
        justify-content: center;
    }
    #searchAdvanced div {
        margin-top: 0rem;
        margin-bottom: -20rem;
        width: 15rem;
    }
    #searchAdvanced .inputSelect {
        margin: 0;
    }
    .searchContainer div {
        flex-direction: column;
    }
}
