/* H 2   T A G S   Q U I C K N A V ------------------------------------------- */

#pageH2Tags-container {
    display: none;
    flex-wrap:wrap;
    margin: 18rem auto -18rem auto !important;
    max-width: var(--maxWidth);
    width: 100%;
    align-items: center;
    justify-content: center;
}

#pageH2Tags-container.show { display: flex; }

#pageH2Tags {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 0 !important;
}

#pageH2Tags li {
    padding: 0.25rem 0.75rem;
    margin: 0.5rem;
    background: var(--SelectionBG);
    font-size: 0.85em;
    list-style-type: none;
    transition: all 0.3s ease-out;
}

#pageH2Tags li:hover { background: #fff; }

#pageH2Tags-container strong { 
    display: block;
    margin: 0 1rem; 
}

#pullup #pageH2Tags a { 
    font-weight: 300;
    border: none; 
}

@media (max-width: 768px){
    #pageH2Tags-container { flex-direction: column; }
    #pageH2Tags-container strong { margin: 1rem 0; }
}

/* T A G S ------------------------------------------------------------------- */

.fungiTags{
    display: flex;
    flex-wrap:wrap;
    list-style-type: none !important;
    margin: 0 auto 2rem auto !important;
    justify-content: center;
}

.fungiTags li {
    padding: 0.25rem 0.75rem;
    margin: 0.5rem;
    background: var(--SelectionBG);
    font-size: 0.85em;
    list-style-type: none;
}

#pullup .fungiTags ul {
    margin: 0;
    display: flex;
}

#tags-poisonousEdible.poisonous {
    color: #fff;
    background: #cb6248;
}

#tags-poisonousEdible.edible {
    color: #fff;
    background: #679450;
}

#tags-poisonousEdible.medicinal {
    color: #fff;
    background: #9e896c;
}

/* L I F E S T A G E S ------------------------------------------------------- */

#lifestages-images {
    display: flex;
    flex-wrap: nowrap !important;
}

#lifestages-fruitseason li {
    padding: 0.25rem 0.75rem;
    margin: 0 0.5rem 1rem 0.5rem;
    background: var(--SelectionBG);
    font-size: 0.85em;
    list-style-type: none;
}

#lifestages-fruitseason { 
    display: inline-flex;
    flex-wrap:wrap;
    list-style-type: none !important;
}


/* L O O K A L I K E S ------------------------------------------------------- */

#lookalikeGrid.characteristicsGrid {
    display: flex;
    margin: 0 -0.5rem;
    justify-content: center;
}

#lookalikeGrid.characteristicsGrid div {
    position: relative;
    background: #fff;
    border-radius: var(--borderRadius);
    margin: 1%;
    padding: 1rem;
    width: 48%;
}

#lookalikeGrid.characteristicsGrid div h3 {
    text-align: center;
}

#lookalikeGrid.characteristicsGrid div p { margin-bottom: 0; }

#lookalikeGrid.characteristicsGrid figcaption {
    position: relative;
    margin: 0.5rem auto -1.5rem auto;
}

@media (min-width: 1024px){
    #lookalikeGrid.characteristicsGrid div {
        margin: 0.65%;
        width: 32%;
    }
}

@media (max-width: 600px){
    #lookalikeGrid.characteristicsGrid div {
        margin: 0.5rem;
        width: 100%;
    }
}

#lookalikeGrid.characteristicsGrid .poisonous {
    color: #cb6248;
}

#lookalikeGrid.characteristicsGrid .edible { 
    color: #679450;
}


/* R E L A V E N T   L I N K S ----------------------------------------------- */

#relevantlinksList li { padding: 0; }

#relevantlinksList li a {
    display: block;
    padding: 0.25rem 0.75rem;
    border-bottom: none;
}

#relevantlinksList li:hover a { background: #fff; }


/* T R E E   H O V E R C A R D S --------------------------------------------- */

#tags-treelation-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tags-treeRelation .conifers,
#tags-treeRelation .deciduous {
    background: #fff;
}

#tags-treelation-container strong { margin: 0 1rem 0 0; }
#tags-treelation-container .fungiTags { margin: 0 !important; }

#tags-treelation-container .fungiTags li { 
    background: #55423200 !important;
    border: solid 1px var(--BorderColor);
}

@media (max-width: 600px){
    #tags-treelation-container { flex-direction: column; }
    #tags-treelation-container strong { margin: 0 0 1rem 0; }
}

#tags-treelation-container .fungiTags .hovercardTag {
    position: relative;
    background: var(--SelectionBG) !important;
    border: none !important;
    cursor: pointer;
}

#tags-treelation-container .fungiTags .hovercardTag:hover {
    background:#fff !important;
}

.hovercardTag .hovercard {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 1rem);
    left: calc(50% - 20rem);
    background: #fff;
    width: 40rem;
    align-items: center;
    z-index: 2;
    border-radius: var(--borderRadius);
    cursor: url('../images/about/cursor.png'), auto;
}

.hovercardTag.clicked .hovercard {
    display: flex;
}

.hovercard::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2rem;
    left: calc(50% - 0.65rem);
    border-right: 0.65rem solid transparent;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid #fff;
    border-left: 0.65rem solid transparent;
    transition: all 0.3s ease-out;
}

.noFigures .hovercard {
    left: calc(50% - 10rem);
    width: 20rem !important;
}

.hovercard > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.25rem 0.25rem 0 0.25rem;
}

.hovercard > div figure {
    flex: none !important;
    display: block;
    padding: 0.25rem 0.25rem 0 0.25rem;
    width: 33.3%;
}

.hovercard > h3 {
    font-size: 1.8em !important;
    margin: 2rem 0 -0.5rem 0 !important;
}

.hovercard > div figure h3 {
    position: relative;
    bottom: -1.8rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem !important;
}

.hovercard > div figure img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.hovercard > div figure figcaption {
    line-height: 1.5em;
    margin-top: -0.8rem;
    font-size: 0.65rem;
}

